.player-card {
    height: 150px;
    background-color: var(--tg-theme-header-bg-color);
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


    &--selected {
        // background-color: var(--tg-theme-link-color, #49ACEA);
        // box-shadow: var(--tg-theme-link-color, #49ACEA) 0px 2px 8px 0px;
        animation: glow 1.5s ease-in-out infinite;
        background-color: var(--tg-theme-link-color, #49ACEA);
    }

    &--small {
        width: 100px;
        min-width: 100px;
    }

    &--current-player {
        box-shadow: var(--tg-theme-link-color, #49ACEA) 0px 2px 8px 0px;
    }



    &__image-container {
        border-radius: 58px;
        height: 58px;
        width: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &--active {
            box-shadow: 0 0 0 2px var(--tg-theme-link-color, #49ACEA);
        }
    }

    &__image-fill {
        background-color: #84CAFE;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    &__image-mock {
        border-radius: 50px;
        background-color: #84CAFE;
    }

    &__name {
        color: var(--tg-theme-text-color);
        font-size: 16px;
    }

    &__score {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 20px;
        background-color: var(--tg-theme-link-color, #49ACEA);
        position: absolute;
        font-size: 10px;
        bottom: -3px;
        right: -3px;
        border: 2px solid rgba(255,255,255, 1);
    }
}


@keyframes glow {
    0% {
      box-shadow: 0 0 5px #49ACEA;
    }
    50% {
      box-shadow: 0 0 13px var(--tg-theme-link-color, #49ACEA);
    }
    100% {
      box-shadow: 0 0 5px #49ACEA;
    }
  }