.text-input {
    border: 1px solid var(--tg-theme-link-color, #4B87BB);
    background-color: inherit;
    color: var(--tg-theme-text-color, black);
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    font-weight: 500;
    font-family: Roboto;
    font-size: 18px;
    transition: background-color 0.2s, color 0.2s, transform 0.3s;

    &__label {
        color: gray;
        font-size: 12px;
        padding-left: 10px;
    }

    &__suggestion-container {
        margin-top: 5px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__suggestion {
        font-size: 12px;
        background-color: var(--tg-theme-button-color, #4B87BB);
        border-radius: 12px;
        padding: 5px 10px;
        color: var(--tg-theme-button-text-color);
        
    }
}