.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    padding: 20px;
    
    &__title {
        font-size: 45px;   
        flex: .7;
        align-items: center;
        display: flex;
        font-family: 'Quicksand', sans-serif;
        color: var(--tg-theme-text-color);
    }

    &__user-container {
        width: 100%;
        align-items: center;
        gap: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__input {
        width: 100%;
    }
}