.game-player-list {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none; // for Firefox
        -ms-overflow-style: none; // for Internet Explorer
        cursor: grab;
        padding: 20px;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__divider {
        background-color: var(--tg-theme-text-color);
        opacity: .1;
        height: 1px;
    }
}